@model IEnumerable<DevCard_MVC.Models.Article>

    <section class="latest-blog-section p-3 p-lg-5">
        <div class="container">
            <h2 class="section-title font-weight-bold mb-5">آخرین مقالات</h2>
            <div class="row">
                @foreach (var article in Model)
                {
                    <div class="col-md-4 mb-5">
                        <div class="card blog-post-card">
                            <img class="card-img-top" src="assets/images/blog/@article.image" alt="image">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a class="theme-link" href="blog-post.html">
                                        @article.id : @article.title
                                    </a>
                                </h5>
                                <p class="card-text">
                                    @article.description
                                </p>
                                <p class="mb-0"><a class="more-link" href="blog-post.html">ادامه مطلب</a></p>

                            </div>
                        </div>
                    </div>
                }
                
        
            </div>
        </div>
    </section>