<!DOCTYPE html>
<html lang="fa">

<head>
    <title>DevCard تحت لیسانس  سعیدی</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="favicon.ico">

    <script defer src="assets/fontawesome/js/all.js"></script>
    <link  rel="stylesheet" href="~/assets/css/theme-1.css">
    <link  rel="stylesheet" href="~/assets/css/style.css">

</head>

<body>

    <partial name="Header"/>

    <div class="main-wrapper">

        @RenderBody()

       <partial name="Footer"/>

    </div>

    <!-- Javascript -->
    <script src="~/assets/plugins/jquery-3.4.1.min.js"></script>
    <script src="~/assets/plugins/popper.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>