<!DOCTYPE html>
<html lang="fa">

<head>
    <title>DevCard تحت لیسانس  سعیدی</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="favicon.ico">

    <script defer src="assets/fontawesome/js/all.js"></script>
    <link  rel="stylesheet" href="assets/css/theme-1.css">
    <link  rel="stylesheet" href="assets/css/style.css">

</head>

<body>

    <header class="header text-center">
        <div class="force-overflow">
            <h1 class="blog-name pt-lg-4 mb-0"><a href="index.html">محمد فاضل تاجیک سعیدی</a></h1>

            <nav class="navbar navbar-expand-lg navbar-dark">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                        aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div id="navigation" class="collapse navbar-collapse flex-column">
                    <div class="profile-section pt-3 pt-lg-0">
                        <img class="profile-image mb-3 rounded-circle mx-auto" src="assets/images/me.jpeg" alt="image">

                        <div class="bio mb-3">
                            سلام، محمد فاضل  سعیدی هستم  به وبسایت شخصی من خوش
                            آمدید.
                        </div>
                        <ul class="social-list list-inline py-2 mx-auto">
                            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-github-alt fa-fw"></i></a></li>
                            <li class="list-inline-item">
                                <a href="#"><i class="fab fa-stack-overflow fa-fw"></i></a>
                            </li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-codepen fa-fw"></i></a></li>
                        </ul>
                        <hr>
                    </div>
                    <ul class="navbar-nav flex-column text-right">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">
                                <i class="fas fa-user fa-fw ml-2"></i>صفحه اصلی<span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">
                                <i class="fas fa-envelope-open-text fa-fw ml-2"></i>ارتباط با ما
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <div class="main-wrapper">

        @RenderBody()

        <footer class="footer text-center py-4">
            <small class="copyright">
                تولید شده توسط &copy; <a href="http://www.atriya.com" target="_blank">
                    محمد سعیدی
                </a>
            </small>
        </footer>

    </div>

    <!-- Javascript -->
    <script src="assets/plugins/jquery-3.4.1.min.js"></script>
    <script src="assets/plugins/popper.min.js"></script>
    <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>