<footer class="footer text-center py-4">
    <small class="copyright">
        تولید شده توسط &copy; <a href="http://www.fazeltsaeedi.ir" target="_blank">
            محمد سعیدی
        </a>
    </small>
</footer>