@model ContactForm

@{
    ViewData["Title"] = "ارتباط با ما ";
}

<section class="cta-section theme-bg-light py-5">
    <div class="container text-center single-col-max-width">
        <h2 class="heading">ارتباط با ما</h2>
        <div class="intro">
            <p><a>
                شما می توانید از طریق فرم زیر با ما ارتباط بگیرید. لطفا پس از پرکردن آیتم ها، پیغام مورد نظر را
                نوشته و ارسال کنید.</a>
            </p>
            <p>از طریق شبکه های اجتماعی با ما در ارتباط باشید</p>
            <ul class="list-inline mb-0">
                <li class="list-inline-item mb-3">
                    <a class="twitter" href="#">
                        <i class="fab fa-twitter fa-fw fa-lg"></i>
                    </a>
                </li>

                <li class="list-inline-item mb-3">
                    <a class="linkedin" href="#">
                        <i class="fab fa-linkedin-in fa-fw fa-lg"></i>
                    </a>
                </li>
                <li class="list-inline-item mb-3">
                    <a class="github" href="#">
                        <i class="fab fa-github-alt fa-fw fa-lg"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="instagram" href="#">
                        <i class="fab fa-instagram fa-fw fa-lg"></i>
                    </a>
                </li>
                <li class="list-inline-item mb-3">
                    <a class="stack-overflow" href="#">
                        <i class="fab fa-stack-overflow fa-fw fa-lg"></i>
                    </a>
                </li>
                <li class="list-inline-item mb-3">
                    <a class="medium" href="#">
                        <i class="fab fa-medium-m fa-fw fa-lg"></i>
                    </a>
                </li>
                <li class="list-inline-item mb-3">
                    <a class="codepen" href="#">
                        <i class="fab fa-codepen fa-fw fa-lg"></i>
                    </a>
                </li>
            </ul>
        </div></div>
</section>

<section class="contact-section px-3 py-5 p-md-5">
    <div class="container">
        <form id="contact-form" class="contact-form col-lg-8 mx-lg-auto" method="post" asp-action="Contact">
            <h3 class="text-center mb-3">در دسترس باشید!</h3>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="sr-only" for="cname">نام</label>
                    <input type="text" class="form-control" id="cname" name="name" placeholder="نام" asp-for="name">
                    <span asp-validation-for="name"></span>
                </div>
                <div class="form-group col-md-6">
                    <label class="sr-only" for="cemail">ایمیل</label>
                    <input type="email" class="form-control" id="cemail" name="email" placeholder="ایمیل" asp-for="Email">
                    <span asp-validation-for="Email"></span>
                </div>
                <div class="form-group col-12">
                    <select id="services" class="custom-select" name="services">
                        <option selected>سرویس مورد نظر خود را انتخاب کنید...</option>
                        <option value="basic">نقره ای</option>
                        <option value="standard">طلایی</option>
                        <option value="premium">پلاتین</option>
                        <option value="not sure">الماس</option>
                    </select>
                </div>
                <div class="form-group col-12">
                    <label class="sr-only" for="cmessage">پیغام شما</label>
                    <textarea class="form-control" id="cmessage" name="message"
                              placeholder="پیغام خود را وارد نمایید ..." rows="10" required=""
                              aria-required="true"></textarea>
                </div>
                <div class="form-group col-12">
                    <button type="submit" class="btn btn-block btn-primary py-2">ارسال</button>
                </div>
            </div>
        </form>
    </div>
</section>