@model IndexModel

@{
    ViewData["Title"] = "Home Page";
}

<section class="about-me-section p-3 p-lg-5 theme-bg-light">
    <div class="container">
        <div class="profile-teaser media flex-column flex-lg-row">
            <img class="profile-image mb-3 mb-lg-0 ml-lg-5 mr-md-0" src="assets/images/me.jpeg" alt="">
            <div class="media-body">
                <h2 class="name font-weight-bold mb-1">محمد فاضل سعیدی</h2>
                <div class="tagline mb-3">برنامه نویس ارشد</div>
                <div class="bio mb-4">
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از
                    طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و
                    جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                </div>
                <div class="mb-4">
                    <a class="btn btn-primary mr-2 mb-3" href="http://www.fazeltsaeedi.ir">
                        <i class="fas fa-arrow-alt-circle-right ml-2"></i><span class="d-none d-md-inline">
                            برو
                            به
                        </span> FazelTsaeedi.ir
                    </a>
                    <a class="btn btn-secondary mb-3" href="#">
                        <i class="fas fa-file-alt ml-2"></i>
                        <span class="d-none d-md-inline">مشاهده </span> نمونه کارها
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>

<partial name="Projects"/>

@* @await Html.PartialAsync("Projects") *@



<div class="container">
    <hr>
</div>

<section class="latest-blog-section p-3 p-lg-5">
    <div class="container">
        <h2 class="section-title font-weight-bold mb-5">آخرین مقالات</h2>
        <div class="row">
            <div class="col-md-4 mb-5">
                <div class="card blog-post-card">
                    <img class="card-img-top" src="assets/images/blog/blog-post-thumb-card-1.jpg" alt="image">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a class="theme-link" href="blog-post.html">
                                Top 3 JavaScript
                                Frameworks
                            </a>
                        </h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                            commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
                            parturient...
                        </p>
                        <p class="mb-0"><a class="more-link" href="blog-post.html">ادامه مطلب</a></p>

                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card blog-post-card">
                    <img class="card-img-top" src="assets/images/blog/blog-post-thumb-card-2.jpg" alt="image">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a class="theme-link" href="blog-post.html">
                                About Remote
                                Working
                            </a>
                        </h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                            commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
                            parturient...
                        </p>
                        <p class="mb-0"><a class="more-link" href="blog-post.html">ادامه مطلب</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card blog-post-card">
                    <img class="card-img-top" src="assets/images/blog/blog-post-thumb-card-3.jpg" alt="image">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a class="theme-link" href="blog-post.html">
                                A Guide to Becoming a
                                Full-Stack Developer
                            </a>
                        </h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                            commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
                            parturient...
                        </p>
                        <p class="mb-0"><a class="more-link" href="blog-post.html">ادامه مطلب</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>