@model IndexModel

@{
    ViewData["Title"] = "Home Page";
}

<section class="about-me-section p-3 p-lg-5 theme-bg-light">
    <div class="container">
        <div class="profile-teaser media flex-column flex-lg-row">
            <img class="profile-image mb-3 mb-lg-0 ml-lg-5 mr-md-0" src="assets/images/me.jpeg" alt="">
            <div class="media-body">
                <h2 class="name font-weight-bold mb-1">محمد فاضل سعیدی</h2>
                <div class="tagline mb-3">برنامه نویس ارشد</div>
                <div class="bio mb-4">
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از
                    طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و
                    جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                </div>
                <div class="mb-4">
                    <a class="btn btn-primary mr-2 mb-3" href="http://www.fazeltsaeedi.ir">
                        <i class="fas fa-arrow-alt-circle-right ml-2"></i><span class="d-none d-md-inline">
                            برو
                            به
                        </span> FazelTsaeedi.ir
                    </a>
                    <a class="btn btn-secondary mb-3" href="#">
                        <i class="fas fa-file-alt ml-2"></i>
                        <span class="d-none d-md-inline">مشاهده </span> نمونه کارها
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>

@*@<partial name="Projects"/>*@

@* @await Html.PartialAsync("Projects") *@

@await Component.InvokeAsync("Projects")


<div class="container">
    <hr>
</div>


@await Component.InvokeAsync("LatestArticle")
